<div fxFlex fxLayout fxLayoutAlign="center center" style="padding: 1em">
  <mat-card>
    <h1>Start</h1>
    <form [formGroup]="form">
      <mat-form-field style="display:block">
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="form.hasError('required',['name'])">Name is required</mat-error>
        <mat-error *ngIf="form.hasError('minlength',['name'])">Must be atleast 3 characters long</mat-error>
      </mat-form-field>
      <mat-form-field style="display:block">
        <mat-select placeholder="Agent Type" formControlName="type">
          <mat-option *ngFor="let type of null | utilsRange: 10" [value]="type">
            Agent Type
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.hasError('required',['name'])">Agent Type is required</mat-error>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary" (submit)="onStart()">Start</button>
    </form>
    <p *ngIf="errorMessage" style="color: red">{{errorMessage}}</p>
    <div *ngIf="loading" style="margin: 10px">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
</div>