/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    }

    .scrollbar-thumb {
        /* background-color: #3f51b5 !important; */
      }

      .icon-button-small {
        line-height: normal !important;
        min-width: 0px !important;
        border-radius: 50% !important;
        padding: 0 !important;
    }

      .back-primary {
        background-color: #3f51b5 !important;
        color: white !important;
      }

      pre {
          margin: 10px;
          white-space: pre-line;
      }
  
    .mat-progress-bar.mat-complement .mat-progress-bar-background {
        fill: #f9ea8e;
    }

    .mat-progress-bar.mat-complement rect {
      fill: #f9ea8e;
  }

  .mat-progress-bar.mat-complement .mat-progress-bar-buffer {
    background-color: #f9ea8e;
}

    .mat-progress-bar.mat-complement .mat-progress-bar-fill::after {
      background-color: #edca07;
  }