<div style="text-align:center">
  <div class="center-form">
    <h1 style="color: #555">Login</h1>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="model.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="model.password">
    </mat-form-field>
    <div style="margin-bottom: 10px">
      <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
    </div>
    <div>
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
    </div>
    <p *ngIf="usernameError" style="color: red">Invalid Username or Password</p>
    <p *ngIf="otherError" style="color: red">An error occured...</p>
    <div *ngIf="loading" style="margin: 10px">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>