<div style="text-align:center">
  <form class="center-form">
    <h1 style="color: #555">Login</h1>
    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <div style="margin-bottom: 10px">
      <button mat-raised-button color="primary">Login</button>
    </div>
    <div>
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
    </div>
  </form>
</div>