<!-- <div class="inbxc-col-full">
    <div class="inbx-full">
        <div class="inbxc-row-full">
        <div class="inbx-users"></div>
        </div>
    </div>
    <div>My footer</div>
  </div> -->
  <div class="flexbox">
      <div class="header">Header</div>
      <div class="main">
        <div class="flexbox-row">
          <div class="first">First</div>
          <div class="second">Main</div>
          <div class="third">Third</div>
        </div>
      </div>
      <div class="main">
          <div class="flexbox-row">
            <div class="first">First</div>
            <div class="second">Main</div>
            <div class="third">Third</div>
          </div>
        </div>
      <div class="footer">Footer</div>
    </div>