/* a container with flex-direction column */
.main-container {
  height: 100vh; /* or position:absolute; height:100%; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: #f8f8f8;
}

/* this is the flex container that will take the rest of the height */
.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}

.convos {
  width: 270px;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
    white-space: nowrap;
}
.convo-item {
  padding: 16px;
  cursor: pointer;
}
.convo-item:hover {
  background: #aeb6e3;
}
.convo-item:hover > span {
  color: white;
}
.convo-item.active:hover {
  background: #3f51b5; 
}
.convo-item.active {
  background: #3f51b5;
}
.convo-item.active > span {
  color: #fff
}
.convo-item > span {
  color: #777;
  font-weight: 500;
  font-size: 28px;
  user-select: none;
}
  .header.user {    
    border-bottom: solid 2px #fff;
    padding: 1em;
  }
  .header.user > span {
    color: #777;
    font-size: 24px;
    font-weight: 500;
  }
.header.user > small {
  color: #777;
  font-weight: 500;
}

.footer {
border-top:solid 2px white;
padding: 1em;
}

.chat-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-height: 0px;
}
.chat {
  flex: 1;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-input {
  padding:10px; display: flex; align-items: stretch;
}
.chat-bubble-container {
  padding:10px; display: flex; align-items: stretch;
}
.chat-bubble {
  white-space: pre-wrap;
  max-width: 300px;
  background: #3f51b5;
  border-radius: 10px;  
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 10px;
}
.chat-bubble.me {
  background: #ddd;
  color: #555;
}